*.DS_Store
*.log
*.tmp
*.bak
*.swp
*.swo
*.idea
*.iml
*.class
*.jar
*.json
*.war
*.ear
*.zip
*.tar.gz
*.7z
*.pt
*.vscode
*.idea
*_log*

# Ignore Python bytecode and cache
*.pyc
__pycache__/
*.pyo
*.pyd

# Ignore markdown files except README/Readme
*.md
!Readme.md
!README.md
!plan.md
